#game-area {
  width: 1024px;
  height: 724px;
  background-color: lightblue;
  border: 1px solid black;
  position: relative;
}

#timer {
  height: 50px;
  width: 200px;
  position: absolute;
  background-color: red;
}

#notification {
  position: absolute;
  width: 100%;

  #chef {
    height: 100px;
    width: 300px;
    margin: 0 auto;
    background-color: green;
  }
}

#station {
  height: 500px;
  width: 1000px;
  margin: 200px auto 0 auto;
}

.ingredient {
  height: 75px;
  width: 75px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

#plate {
  position: relative;
  float: left;
  height: 500px;
  width: 475px;
  margin-right: 50px;
  background-color: fuchsia;

  &.over {
    border: 2px dashed #000;
    margin-right: 46px;
  }

  .ingredient {
    position: absolute;
  }
}

#mise-en-place {
  float: left;
  height: 500px;
  width: 475px;
  background-color: orange;

  .ingredient {
    display: inline-block;
    margin: 20px 50px;
  }
}
